.checkbox-row {
  display: flex;
  align-items: flex-start;
}

.checkbox-row:not(:last-child) {
  margin: 0 0 17px;
}

.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  appearance: none;
}

.custom-checkbox {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 13px 0 0;
  background: #eee;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  vertical-align: bottom;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;

  transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox {
  border: 2px solid #307968;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(69, 206, 176, 0.5);
}

input.button {
  border: none;
}
