.header {
    position: relative;
    height: 800px;
    padding: 50px 0 0;
    color: #fff;
    background-color: #265847;
    background-image: url(./../img/header/forest-travel-background.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    color: #fff;
    background-color: #265847;
    background-image: url(./../img/header/header-inner-bg.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
  }
  
  .header-nav {
    font-size: 22px;
    color: #fff;
  }
  
  .header-nav-button {
    display: none;
  }
  
  .header-nav-list {
    display: flex;
  }
  
  .header-nav-list-item:not(:last-child) {
    margin: 0 50px 0 0;
  }
  
  .header-nav-list-link {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in;
  }
  
  .header-nav-list-link:hover {
    color: #061519;
    text-decoration: underline;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    text-align: center;
  }
  .header-title {
    margin: 16px 0 20px;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
  }
  
  .header-content p {
    font-size: 24px;
  }
  
  .header-scroll {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 0 0 34px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  .header-scroll::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    content: "";
    display: block;
    width: 19px;
    height: 24px;
    background-image: url(./../img/header/arrow-down.svg);
  }
  