.main {
    padding: 120px 0;
  }

.main-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 120px 0;
  }
  
  .main-row:last-child {
    margin: 0;
  }
  
  .main-row:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .main-content {
    width: 470px;
  }
  
  .main-img {
    width: 570px;
  }
  
  
  
  .main-content-header {
    margin: 0 0 20px 0;
  }
  
  .main-header.header-tours {
    margin: 0 0 60px;
    text-align: center;
  }
  
  .main-content-text {
    margin: 0 0 40px 0;
    font-size: 20px;
    line-height: 1.6;
    color: #31405b;
  }
  .main-content-text a {
    color: #138ece;
  }
  
  .main-content-text p {
    margin: 0 0 15px 0;
  }
  