// Ширина и высота линии в иконке
$lineWidth: 33px;
$lineHeight: 4px;

// Размеры контейнера
$width: $lineWidth;
$height: $lineHeight * 6;

$color:#FFFFFF;

.nav-icon {
  width: $width;
  height: $height;

  display: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  @media (max-width: 1199px) {
    display: flex;
  }
}

.nav-icon__middle {
  position: relative;
  width: $lineWidth;
  height: $lineHeight;
  background-color: $color;
  border-radius: 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: $lineWidth;
    height: $lineHeight;
    border-radius: 4px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    background-color: $color;
  }

  &::before {
    top: -($lineHeight * 2.5);
  }

  &::after {
    top: $lineHeight * 2.5;
  }
}

/* Active state */

.nav-icon.nav-icon--active {
    position: fixed;
    z-index: 99;
    top: 62px;
    right: 15px;

}


.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
  $color: #fff;

  &::before,
  &::after {
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background-color: $color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}



